* {
  box-sizing: border-box;
}
.App {
  text-align: left;
  width: 100%;
}

.App-header {
  background: #03a9f4;
  padding: 5px;
  color: white;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 100%;
  min-height: 40px;
  background: blue;
}
.fork-me {
  color: white;
  text-decoration: none;
  text-align: center;
  font-size: 12px;
  width: 100%;
  display: block;
  margin: 15px;
}
.App-title {
  font-size: 1em;
  text-align: left;
}

.content {
  margin: 0 auto;
}

.latest-order {
  color: black;
  width: 100%;
  padding: 5px;
  margin: 30px auto 10px;
  max-width: 750px;
  text-align: center;
  border: 1px solid lightblue;
}

.latest-order__button {
  margin: 10px auto;
  display: block;
}

.orders {
  margin-top: 10px;
  max-width: 1200px;
  margin: 0 auto;
}

.restaurant-orders {
  margin-bottom: 100px;
}
.restaurant-orders__p {
  background: #00abf4;
  color: white;
  padding: 5px;
  text-align: left;
  margin: 0;
}

.restaurant-orders__span {
  text-transform: uppercase;
  display: block;
  position: relative;
}
.restaurant-orders__span::after {
  content: "";
  width: 5px;
  display: block;
  position: absolute;
  background: red;
}

.restaurant-orders__div {
  border-bottom: 1px solid lightblue;
  margin: 10px 10px;
}

.mailer {
  padding-top: 10px;
  text-align: center;
}

.mailer__div {
  max-width: 350px;
  margin: 0 auto;
  border-radius: 3px;
  border: 1px solid #00abf4;
  border-top: none;
  overflow: hidden;
  box-sizing: border-box;
  margin: 30px auto 10px;
}

@media screen and (min-width: 600px) {
  .mailer__div {
    max-width: 1200px;
  }
  .mail-link {
    display: inline-block;
    width: 100%;
  }
}

.mailer__p {
  background: #00abf4;
  color: white;
  width: 100%;
  padding: 5px;
  text-align: left;
  margin-top: 0;
}

.mail-link {
  display: block;
  background: #1873ff;
  min-width: 190px;
  padding: 15px;
  margin: 20px auto;
  border: 1px solid grey;
  max-width: 200px;
  text-align: center;
  color: white;
  text-decoration: none;
  cursor: pointer;
}

.mail-link:hover,
.mail-link:visited {
  color: white;
  text-decoration: none;
}

.mailer__wrapper {
  display: flex;
  flex-shrink: 0;
  justify-content: space-around;
  flex-wrap: wrap;
}

.restaurant-name {
  text-decoration: uppercase;
  text-transform: uppercase;
  display: block;
}

.who-ordered-what__ol {
  font-size: 16px;
  list-style-type: none;
  padding: 0;
  max-width: 1200px;
  margin: 0 auto;
}

.who-ordered-what__ol > li {
  padding: 10px;
}

.who-ordered-what__ol > li:nth-child(odd) {
  background: rgba(52, 203, 221, 0.2);
}
.who-ordered-what__span {
  font-weight: 600;
}

@media print {
  /* All your print styles go here */
  .App-header,
  .fork-me,
  .mailer__div,
  .file-uploader {
    display: none !important;
  }
}

.error-container {
  margin: 20px auto;
  display: flex;
  justify-content: center;
  align-content: cneter;
  background: green;
  font-size: 18px;
  color: white;
  max-width: 700px;
}
.error-container__p {
  padding: 5px;
}
