.App {
  text-align: left;
  width: 100%;
}


.App-header {
  background-color: rgba(22,22,22,0.1);
  padding: 5px;
  color: "#46865b";
  text-align: center;
}

.App-title {
  font-size: 1em;
}


.content {
  margin-left: 10px;
}

.orders {
  margin-top: 10px;
}

.mailer {
  padding-top: 10px;
  text-align: center;
}
.mailer__div {
  background: #71e4d84d;
  max-width: 400px;
  margin: 0 auto;
  border-radius: 3px;
  padding: 10px;
}
.mail-link {
  display: block;
  width: 100%;
  background: #1873ff;
  padding: 15px;

  margin: 20px auto;

  border: 1px solid grey;

  max-width: 200px;

  text-align: center;

  color: white;

}

.mail-link:hover,
.mail-link:visited, {
  color: white;
}
.restaurant-name {
  text-decoration: uppercase;
  text-transform: uppercase;
  display: block;

}
