.App {
  text-align: left;
  width: 100%;
}


.App-header {
  background-color: rgba(22,22,22,0.1);
  padding: 5px;
  color: "#46865b";
  text-align: center;
}

.App-title {
  font-size: 1em;
}


.content {
  margin-left: 10px;
}

.orders {
  margin-top: 10px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
